WebApplication2/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="productData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PerProductCost" type="xs:double" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductQuantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="productData" nillable="true" type="tns:productData" />
</xs:schema>